.nav-right a#home{
    color: white;
    background-color: #003b63;
}

.title {
    font-family: 'BIZ UDPGothic';
    font-size: x-large;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  /* ensures responsiveness on smaller screens */
    gap: 1rem;
}

.title-text {
    flex: 1;
    flex-direction: column;
}

.title-text h1 {
    font-family: Inter;
    font-weight: 200;
    font-size: 4rem;
    margin: 1rm;
}

.title-text p {
    /* margin-top: 20rem; */
    line-height: 1.6;
}

.title-text h1 span:first-child {
    font-weight: bold;
}

.title-image-container {
    flex: 10% 10% 10%;
    display: flex;
    justify-content: flex-end;
}

.title-image {
    max-width: 600px;
    border-radius: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.email {
    display: flex;
    align-items: center;
}

.email a {
    color: black;
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 1rem;
    padding: 0.5em 1em;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 1rem;
    display: inline-block;
}

.email a:hover {
    color: blue;
    transform: translateX(2px);
}

/* About Me Section */
.about-me {
    /* background-color: #b9dbe4; */
    padding: 2rem;
    border-radius: 8px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); Soft shadow */
    margin-bottom: 3rem;
  }