body {
  margin: 0;
  font-family: Arial, sans-serif;
}
  
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Initial transparency */
  transition: background-color 0.3s ease; /* Smooth transition */
  color: black;
  padding: 2rem 4rem;
  font-family: Inter, semi-bold;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on scroll */
  color: white; /* Adjust text color for contrast */
}

.nav-left {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: medium;
}

.nav-right a {
  color: black;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: color 0.3s;
  transition: background-color 0.3s;
  padding: 1em 1.5em;
  border-radius: 5px;
}

.nav-right a:hover {
  color: #111111;
  background-color: #eeeeee;
}

.page {
  padding: 2rem 4rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  max-width: 1200px;
  margin: auto;
}

.section {
  padding: 4rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section h2 {
  font-family: 'BIZ UDPGothic', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.section h2::before,
.section h2::after {
  content: "";
  flex: 1;
  height: 3px;
  background: #333;
}

.section p {
  font-size: 1.1em;
  line-height: 1.6;
  font-family: 'BIZ UDPGothic', sans-serif;
  color: #222;
  text-align: justify;
}

.section a {
  /* color: #333; */
  /* text-decoration: none; */
  /* font-weight: bold; */
  display: block;
  color:black;
  transition: transform 0.3s ease, color 0.3s ease;
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
}

.section a:hover {
  color: #111111;
  transform: translateY(-2px);
  background-color: #eeeeee;
}

.section-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto; /* Center-align projects */
  margin-right: auto; /* Center-align projects */
  max-width: 600px; /* Optional: Limit the width of the project container */
  
}

.section-item img {
  background-size: cover;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.section-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.section-item-text h3 {
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure it spans the full width of the container */
}

.section-item-text p {
  margin: 0.25rem 0 0 0;
  font-family: 'BIZ UDPGothic', sans-serif;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  font-family: 'BIZ UDPGothic', sans-serif;
  background-color: black;
  color: #555;
  margin-top: 4rem;
}

.footer-icons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icons a img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-icons a img:hover {
  transform: scale(1.15);
  opacity: 0.8;
}